/* Main style */

/* Variables */
:root {
    --header-height: 4.625rem; /* 1rem = 16px */
}

.max-width-hero-img {
    max-width: 320px;
}

@media screen and (min-width: 992px){ /* Breakpoint BS for LG */
    
    /* Exercice 4, exercice 5 */
    .lg-full-height {
        height: calc(100vh - var(--header-height));
        display: flex;
        align-items: center;
    }
}